<h1>This is app component</h1>
<button (click)="myEvent('Consolelog this text')">Click me</button>
<input type="text"   (blur)="myEvent('blur wnent')" />
<div
 (mouseleave)="myEvent('mouse event')" 
 style="background-color: aquamarine;">
Inside div
</div>
<br>
<input type="text" #box/> 
<button (click)="myEvent(box.value)">click me</button>
<h2>{{currentVal}}</h2>
<input type="text" [disabled]="disabledbox" [value]="username"/>
<br>
<input type="text" disabled={{disabledbox}} value={{username}}/>
<br>
<button (click)="enablebox()">Enable textbox</button>
<h1 *ngIf="show else elseblock" >
    if block
</h1>
<ng-template #elseblock>
    <h2>else block</h2>
</ng-template>
<app-login></app-login>
<app-signup></app-signup>
<div [ngSwitch]='color'>
    <h1 *ngSwitchCase="'red'">red color</h1>
    <h1 *ngSwitchCase="'blue'">blue color</h1>
    <h1 *ngSwitchCase="'green'">green color</h1>

</div>

<div *ngFor='let item of data'>{{item}}</div>

<div *ngFor='let obj of dataobj'>
    {{obj.namee}}
    {{obj.age}}
</div>

<table border='1'>
    <tr>
        <td>Name</td>
        <td>Age</td>
    </tr>
    <tr *ngFor='let obj of dataobj'>
<td>
    {{obj.namee}}
</td>
<td>
    {{obj.age}}
</td>
</tr>

</table>
